<div class="row mb-2">
    <h3>Listado de Capítulos:</h3>
</div>
<div class="row">
  <div class="col-xs-1-12" *ngFor="let chapter of chapterList">
    <div class="card">
      <div class="card-body">
        <div class="row justify-content-between">
          <div class="col-sm-4">
            <h3 class="card-title">Capítulo: {{chapter.attributes.chapter}}</h3>
            <p class="card-text">Idioma: {{chapter.attributes.translatedLanguage}}</p>
          </div>
          <div class="col-sm-2">
            <button type="button" name="" id="" class="btn btn-primary" (click)="goToChapterView(chapter.id)">Ver capítulo</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
