<div class="row mb-2">
  <h4>Bienvenido a la mi pagina principal</h4>
</div>
<div class="row mb-2">
    <div class="col">
        <a name="" id="" class="btn btn-primary" href="#" role="button" (click)="mangaFrontPage()">Manga API</a>
    </div>
    <div class="col">
        <a name="" id="" class="btn btn-primary" href="#" role="button" (click)="pokemonFrontPage()">Pokedex</a>
    </div>
    <div class="col">
        <a name="" id="" class="btn btn-primary" href="#" role="button" (click)="digimonFrontPage()">Digimon Data</a>
    </div>
</div>
