<div class="row mb-3 mt-3">
  <h4 class="title-style">MANGA VILCHEZ</h4>
</div>
<div class="row justify-content-start mb-3 nav-bg-color" >
    <div class="col-sm-auto">
        <a class="btn btn-menu-style" type="button" (click)="mangaFrontPage()">Manga</a>
    </div>
    <!-- <div class="col-sm-auto">
        <a class="btn btn-menu-style" type="button" (click)="pokemonFrontPage()">Pokedex</a>
    </div>
    <div class="col-sm-auto">
        <a class="btn btn-menu-style" type="button" (click)="digimonFrontPage()">Digimon Data</a>
    </div> -->
    <div class="col-sm-auto">
        <a class="btn btn-menu-style" type="button" (click)="urlTestPage()">Url Tester</a>
    </div>
</div>
